<h1><%= t('showing.coin') %></h1>
<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @coin.class.human_attribute_name(:description), class:"form-label" %>
    <%= text_field_tag  nil, @coin.description, class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @coin.class.human_attribute_name(:acronym), class:"form-label" %>
    <%= text_field_tag nil, @coin.acronym, class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @coin.class.human_attribute_name(:url_image), class:"form-label" %>
    <%= text_field_tag nil, @coin.url_image, class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @coin.class.human_attribute_name(:mining_type), class:"form-label" %>
    <%= text_field_tag nil, @coin.mining_type.description, class:"form-control", disabled: true %>
  </div>
</form>

<%= link_to t('links.edit'), edit_coin_path(@coin), class:"btn btn-dark btn-sm mt-3", role:"button" %>
<%= link_to t('links.back'), coins_path, class:"btn btn-dark btn-sm mt-3", role:"button" %>
